.wall-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.wall-column {
  display: flex;
  flex-direction: column;
}

.wall-block {
  background: url("../../assets/brick.png");
  background-repeat: round;
  cursor: ns-resize;
}

.water-block {
  border-radius: 0%;
  width: 30px;
  height: 30px;
  overflow: hidden;
  backface-visibility: hidden;
}

.water-column {
  display: flex;
  flex-direction: column-reverse;
}

.water-block .fill {
  animation-name: fillAction;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.water-block:last-child #waveShape {
  animation-name: waveAction;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 0.3s;
  fill: #04ACFF;
}

.water-block:not(:last-child) #waveShape {
  transform: translate(0, -10px);
}

@keyframes fillAction {
  0% {
      transform: translate(0, 30px);
  }
  100% {
      transform: translate(0, 0px);
  }
}

@keyframes waveAction {
  0% {
      transform: translate(-30px, 0);
  }
  100% {
      transform: translate(0, 0);
  }
}

