.grass-container {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.grass-block {
  background: url("../../assets/grass.png");
  background-repeat: round;
}
